body {
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    background-size: 108px 95px;
    font-family: 'Economica', cursive;
    font-size: 14px;
}
section{
    padding-top: 75px;
    position: relative;
    z-index: 1000;
}
section:first-of-type{
    padding-top: 275px;
}

section .container {
    border: 3px solid #ff9000;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 0 20px #888888;
    padding: 15px;
}
h3{
    margin-bottom: 40px;
}
.footer-text {
    padding-right: 40px;
    margin-right: 0;
}
footer {
    margin: 10px 0 0 0;
    border-top: 3px solid #ff9000;
}
h1 {
    font-family: 'Comfortaa', cursive;
    margin: 30px 0;
}
a.navbar-brand {
  text-align: left;  
}
nav .navbar-header{
    height: 225px;
}
.navigation {
    padding-right: 0;
}
nav{
    border-bottom: 3px solid #ff9000;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.nav, .container, footer, .navbar-default{
    background-color: #f7fcab;
    background-image: none;
    border-color: #ff9000;
    color: black;
}
ul.honey{
    list-style-type: none;
    float: left;
}
.tabs {
    margin-bottom: 20px;
    cursor: pointer;
    padding: 17px;
    font-size: 14px;
    height: 60px;
    border: 1px solid #ff9000;
    border-radius: 5px;
}
#honey-description{
    float: right;
}
#honey-description div {
    font-size: 14px;
    padding: 15px;
}
.image-box {
    float: right;
    padding: 15px;
}
.honey-text{
    display: none;
}
#offer, #contact {
    height: 920px;
}
.tabs {
    opacity: 0.5;
}
.tabs.active{
    opacity: 1;
}
.tabs:hover{
    opacity: 1;
}
#map{
    position: absolute;
    width: 100%;
    height: 100%;
}
.map-container {
    border: 5px solid #ff9000;
    border-radius: 5px;
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}
.navbar-text, .navbar-right {
    margin-right: 0;
}
.bees {
    height: 20px;
    width: 45px;
    position: absolute;
    transform: rotate(0deg);
    z-index: 0;
}
.bees img {
    width: 100%;
}
#cell-menu{
    position: relative;
    width: 400px;
    height: 225px;
    margin: 0;
    padding: 10px;
}
.cell {
    height: 80px;
    width: 80px;
    padding: 30px 0;
    text-align: center;
    position: absolute;
    background-image: url("../images/menucell.png");
    background-size: 80px 80px;
    background-repeat: no-repeat;
}
.cell:hover {
    cursor: pointer;
}
#apiary-link {
    top: 10px;
    left: 10px;
}
#honey-link {
    top: 72px;
    left: 50px;
}
#offer-link {
    top: 72px;
    left: 131px;
}
#contact-link{
    top: 133px;
    left: 91px;
}
#about-link {
    top: 133px;
    left: 10px;
}
#kitchen-link {
    top: 10px;
    left: 171px;
    padding: 22px 10px;
}
@media (max-width: 990px){
    section{
        padding-top: 170px;
    }
}