section {
    padding-top: 70px;
    height: 920px;
}
section .container {
    border: 3px solid #ff9000;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0 0 20px #888888;
}
.footer-text {
    padding-right: 40px;
    margin-right: 0;
}
footer {
    margin: 10px 0 0 0;
    height: 55px;
    border-top: 3px solid #ff9000;
}
nav{
    border-bottom: 3px solid #ff9000;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
body {
    background-image: url("../images/honey_pattern.png");
    background-repeat: repeat;
    background-size: 72px 63px;
    font-family: 'Righteous', cursive;
}
.nav, .container, footer, .navbar-default{
    background-color: #f7fcab;
    background-image: none;
    border-color: #ff9000;
    color: #ff9000;
}