.nav li {
    text-align: center;
}
section {
    padding-top: 60px;
    height: 920px;
}
section .container {
    border: 1px solid lightgrey;
    height: 100%;
}
.footer-text {
    padding-right: 40px;
}
footer {
    margin: 10px 0 0 0;
    border: 1px solid transparent;
}